/* page.module.css */

.pageWrapper {
  display: flex;
  min-height: 100vh; /* full screen height */
}

.pageContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
  padding: 2rem;
  text-align: center;
}

